body {
  margin: 0px;
}

.wrapper {
  display: flex;
} 

#myVideo {
    z-index: -2; 
    width: 100%;
    position: absolute;
  }

#idleVideo {
  z-index: -2; 
  width: 100%;
  position: absolute;
}

#endInteraction {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: lightblue;
  color: white;
  text-transform: uppercase;
  border-radius: 15px;
  border-width: 0px;
  padding: 15px;
  transition: .2s ease-in-out;
  zoom: 2.5;
}

#endInteraction:hover {
  transform: scale(1.1);
  cursor: pointer;
  zoom: 2.5;
}

#SpeechToText {
  border-radius: 50% !important;
  height: 70px;
  width: 70px;
  background-color: lightblue;
  margin-right: 10px;
}

#SpeechToText:hover {
  transform: scale(1.1);
}

#SpeechToText.pulse {
  background: lightblue;
  box-shadow: 0 0 0 0 lightblue;
  animation: pulse-red 2s infinite;
}
#mic {
  width: 25%;
  max-height: 50%;
  padding-left: 1%;
  padding-top: 1%;
  transform: translate(30px, 20px);
  display: flex;
  align-items: center;
  font: bold large sans-serif;

}